.notice_order {
    display: none;
}

.main {
    width: 1200px;
    margin: auto;
}

footer {
    padding: 50px 0px 100% 0px;
}

a {
    text-decoration: none;
    color: #666666;
}


@media (max-width: 360px) {
    .title {
        width: 150px;
    }
}