<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/attraction_style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <title>台北一日遊景點介紹</title>
</head>
<div class="sign">
    <div class="signbox">
        <div class="decorate"></div>
        <div class="sign_item sign_title">登入會員帳號
            <img class="close_icon" src="{{url_for('static',filename='images/icon_close.png')}}" alt="close">
        </div>
        <input class="sign_item email" type="text" name="eamil" id="signin_email" placeholder="輸入電子信箱">
        <input class="sign_item name" type="password" name="password" id="signin_password" placeholder="輸入密碼">
        <button class="sign_item sign_btn sign_btn1">登入帳戶</button>
        <div class=" sign_item notice-1">還沒有帳戶？點此註冊</div>
        <div class="message"></div>
    </div>
    <div class="signup_box">
        <div class="decorate"></div>
        <div class="sign_item sign_title">註冊會員帳號</div>
        <img class="close_icon" src="{{url_for('static',filename='images/icon_close.png')}}" alt="close">
        <input class="sign_item name" type="text" name="name" id="signup_name" placeholder="輸入姓名">
        <input class="sign_item email" type="text" name="eamil" id="signup_email" placeholder="輸入電子信箱">
        <input class="sign_item password" type="password" name="password" id="signup_password" placeholder="輸入密碼">
        <button class="sign_item sign_btn sign_btn2">註冊帳戶</button>
        <div class=" sign_item notice-2">已經有帳戶了？點此登入</div>
        <div class="message"></div>
    </div>
</div>


<body>
    <div class="fix">
        <nav class="navigation">
            <a href="/">
                <div class="title">台北一日遊</div>
            </a>
            <div class="menu">
                <div class="item booking_btn">預定行程</div>
                <div class="item signin">登入/註冊</div>
                <div class="item signout">
                    <a href="/">登出</a>
                </div>
            </div>
        </nav>
    </div>
    <main>
        <div class="img_box">
            <div><img class="btn_left" src="{{url_for('static',filename='images/btn_leftArrow.jpg')}}" alt=""></div>

            <div class="radio_group">
                <label for="radio" class="radio">
                </label>
            </div>
            <div><img class="btn_right" src="{{url_for('static',filename='images/btn_rightArrow.png')}}" alt=""></div>
        </div>

        <div class="order_group">
            <div class="item_group">
                <div class="item_name"></div>
                <div class="item_category"></div>
            </div>
            <div class="order_menu">
                <div class="order_title">訂購導覽行程</div>
                <div class="order_header">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                <div class=" order_date">選擇日期：
                    <div class="date">
                        <label for="date">
                            <input class="input_date" type="date" name="date" id="date">
                        </label>
                    </div>

                </div>
                <div class="order_time">選擇時間：
                    <div class="time">
                        <label for="time">
                            <input class="time_btn AM" type="radio" name="time" id="AM" value="上半天" checked>
                            <label class="time_title" for="AM">上半天</label>
                            <input class="time_btn PM" type="radio" name="time" id="PM" value="下半天">
                            <label class="time_title" for="PM">下半天</label>
                        </label>
                    </div>

                </div>
                <div class="order_feed">導覽費用：
                    新台幣<span class="feed">2000</span>元
                </div>
                <button class="order_btn">開始預約行程</button>
            </div>
        </div>
    </main>
    <hr>
    <section class="option">
        <div class="description"></div>
        <div class="address">
            <div class="address_title">景點位置：</div>
            <div class="address_descrip"></div>
        </div>
        <div class="traffic">
            <div class="traffic_title">交通方式：</div>
            <div class="traffic_mrt"></div>
        </div>
    </section>

    <footer>
        <div class="footer-item">COPYRIGHT © 2021 台北一日遊</div>
    </footer>
    <script type="text/javascript" src="{{url_for('static', filename='JS/attraction.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='JS/signin.js')}}"></script>

</body>

</html>