<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../status/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <title>台北一日遊</title>
</head>

<body>
    <nav>
        <div class="title">台北一日遊</div>
        <div class="menu">
            <div class="item">預定行程</div>
            <div class="item">登入/註冊</div>
        </div>
    </nav>
    <header>
        <div>
            <img src="../status/images/welcome image.png" alt="welcome">

        </div>
        <div>
            <div>輕鬆享受台北一日悠閒</div>
            <div>探索探索每個角落，體驗城市的深度旅遊行程</div>
            <input type="text">
            <button><img src="../status/images/icon_search.png" alt=""></button>
        </div>

    </header>

    <section>

    </section>
    <footer>

    </footer>
    <script src="index.js"></script>
</body>

</html>